*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");



.container{
    width: 60%;
    padding: 45px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.row{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   
}
.col-md-7{
    padding: 20px;
}
.col-md-5{
    background: #084b8f;
    padding: 20px;
    color: white;

}
.form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.bi{
    font-size: 20px;
}
.d-flex p{
    font-size: 18px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media only screen and (max-width:700px){
    .container{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 90%;
    }
}



.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #FFACB7;
  color: #fff;
}

.navbar .navbar-nav .nav-link {
    padding: 0.6em;
  }
  .navbar .navbar-brand {
    padding: 0 0.6em;
  }
  @media only screen and (min-width: 992px) {
    .navbar {
      padding: 0;
    }
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    }
    .navbar .navbar-brand {
      padding: 0 0.8em;
    }
  }

  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
    transition: all 0.5s;
  }
